<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In to App</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

    <p>Are you new here? Click <a th:href="@{/registration}">>>>HERE<<<</a> to sign up.</p>


    <form method="post" id="loginForm" th:action="@{/login}">
        <div th:if="${error}"><span class="validationError">Logowanie nieudane</span></div>
        <label for="email">Enter Your email here: </label>
        <input id="email" type="email" name="email"/>
        <br/>
        <label for="password">Enter Your password here: </label>
        <input id="password" type="password" name="password"/>
        <br/>
        <input type="submit" value="Log in"/>
    </form>
</body>
</html>